{% set body_classes = body_class(['header-fixed', 'header-animated', 'header-dark', 'header-transparent', 'sticky-footer']) %}
{% set grid_size = theme_var('grid-size') %}
{% set compress = theme_var('production-mode') ? '.min.css' : '.css' %}
{% use 'blocks/base.html.twig' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head deferred %}
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/bootstrap.css') %}
    {% do assets.addCss('theme://css/style.css') %}
    {% do assets.addCss('theme://css/responsive.css') %}
    {% do assets.addCss('theme://css/color.css') %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('theme://js/jquery.js') %}
    {% do assets.addJs('theme://js/popper.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/bootstrap.min.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/jquery-ui.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/jquery.fancybox.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/owl.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/appear.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/wow.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/lazyload.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/scrollbar.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/script.js', {group:'bottom'}) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body class="page-loaded">
    <div id="page-wrapper" class="page-wrapper">
    {% block header %}

        {% block header_navigation %}
            {% include 'partials/navigation.html.twig' %}
        {% endblock %}
                       
    {% endblock %}

    {% block hero %}{% endblock %}

        <section id="start">
        {% block body %}
            <section id="body-wrapper" class="section">
                <section class="container {{ grid_size }}">
                    {% block messages %}
                        {% include 'partials/messages.html.twig' ignore missing %}
                    {% endblock %}
                    {{ block('content_surround') }}
                </section>
            </section>
        {% endblock %}
        </section>

    </div>

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

    <!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-up-arrow"></span></div>

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
