{# <section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart-o pulse "></i> by <a href="https://trilby.media">Trilby Media</a>.</p>
    </section>
</section> #}
<!-- Main Footer -->
    <footer class="main-footer">
    	<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	

                    <!--Column-->
                    <div class="column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget info-widget">
							<div class="widget-content">
								<h3>Indirizzi</h3>
								<ul class="contact-info">
                                	<li>Via Galileo Galilei n.20, 22 - 25128 Brescia</li>
                                    <li><a href="tel:(+39) 030 / 370 0039">(+39) 030 / 370 0039</a></li>
                                    <li><a href="tel:366 6657530">Cell: 366 6657530</a></li>
                                    <li><a href="mailto:info@associazionediabeticibrescia.it">info@associazionediabeticibrescia.it</a></li>
                                </ul>
							</div>	
						</div>
					</div>
                    
                    {# <!--Column-->
                    <div class="column col-lg-3 col-md-6 col-sm-12">
						<div class="footer-widget logo-widget">
                        	<div class="widget-content">
                                <div class="footer-logo">
                                    <a href="index.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/footer-logo.png" alt="" /></a>
                                </div>
                                <h3>Indirizzi</h3>
                                <div class="text">Lorem ipsum dolor amet consetetur adi pisicing elit sed eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim veniam quis nostrud exercita.</div>
                                <ul class="social-links clearfix">
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-vimeo-v"></span></a></li>
                                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                </ul>
                            </div>
						</div>
					</div> #}
					
					<!--Column-->
                    <div class="column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget links-widget">
							<div class="widget-content">
								<h3>Link Utili</h3>
                                <ul>
                                    <li><a href="#">Sanità</a></li>
                                    <li><a href="#">Informazione</a></li>
                                    <li><a href="#">Alimentazione</a></li>
                                    {# <li><a href="#">Volunteer</a></li>
                                    <li><a href="#">Partner</a></li>
                                    <li><a href="#">Jobs</a></li> #}
                                </ul>
							</div>	
						</div>
					</div>
					
					
                    <!--Column-->
                    <div class="column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget news-widget">
							<div class="widget-content">
								<h3>News</h3>
                                <!--News Post-->
								<div class="news-post">
                                	<div class="post-thumb"><a href="#"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/post-thumb-1.jpg" alt=""></a></div>
                                	<h5><a href="{{ base_url }}/eventi/anno-2021-in-corso/giornata-mondiale-del-diabete-2021">GIORNATA MONDIALE DEL DIABETE 2021</a></h5>
                                    <div class="date">Novembre 1, 2021</div>
                                </div>
                                <!--News Post-->
								<div class="news-post">
                                	<div class="post-thumb"><a href="#"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/post-thumb-2.jpg" alt=""></a></div>
                                	<h5><a href="{{ base_url }}/eventi/anno-2021-in-corso/redrun-corsa-camminata-non-competitiva-domenica-10-ottobre-2021-a-palazzolo">REDRUN, corsa, camminata non competitiva-Domenica 10 ottobre 2021 a Palazzolo</a></h5>
                                    <div class="date">Ottobre 2, 2021</div>
                                </div>
                                <div class="news-post">
                                	<div class="post-thumb"><a href="#"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/post-thumb-2.jpg" alt=""></a></div>
                                	<h5><a href="{{ base_url }}/eventi/anno-2021-in-corso/le-associazioni-si-raccontano-un-aiuto-per-la-solidarieta">Le associazioni si raccontano, un aiuto per la solidarietà-Domanica 3 ottobre a Montichiari</a></h5>
                                    <div class="date">Ottobre 2, 2021</div>
                                </div>
                                <div class="news-post">
                                	<div class="post-thumb"><a href="#"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/post-thumb-2.jpg" alt=""></a></div>
                                	<h5><a href="{{ base_url }}/eventi/anno-2021-in-corso/assemblea-annuale-2021">Eventi della primavera 2021</a></h5>
                                    <div class="date">Ottobre 2, 2021</div>
                                </div>
							</div>	
						</div>
					</div>
					
				</div>
                
                <div class="nav-box clearfix">
                	<div class="inner clearfix">
                    	<ul class="footer-nav clearfix">
                        	<li><a href="#">Home</a></li>
                            <li><a href="{{ base_url }}/la-nostra-associazione">La Nostra Associazione</a></li>
                            <li><a href="{{ base_url }}/giornalino">Giornalino</a></li>
                            <li><a href="{{ base_url }}/eventi/anno-2010-in-archivio">Eventi</a></li>
                            {# <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li> #}
                        </ul>
                        
                        <div class="donate-link"><a href="{{ base_url }}/la-nostra-associazione.html" class="theme-btn btn-style-one"><span class="btn-title">Scopri di più </span></a></div>
                    </div>
                </div>
                
			</div>
		</div>
		
		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="auto-container">
				
				<!--Scroll to top-->
				<div class="clearfix">
                	<div class="copyright">Associazione Diabetici &copy;  della Provincia di Brescia. 2022 All Right Reserved</div>
                    <ul class="bottom-links">
                    	<li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
				</div>
			</div>
		</div>
		
	</footer>