<!--News Section-->
    <section class="news-section">
    	<div class="top-rotten-curve"></div>
        {# <div class="circle-one"></div> #}
        
        <div class="auto-container">
        	
            <div class="title-box clearfix">
                <div class="sec-title">
                    <div class="sub-title">Get In Touch</div>
                    <h2>ULTIME NOTIZIE</h2>
                </div>
                
                <div class="link"><a href="{{ base_url }}/eventi/anno-2021-in-corso" class="theme-btn btn-style-one"><span class="btn-title">Tutti Gli Articoli</span></a></div>
            </div>
            
            <div class="row clearfix">
            	<!--News Block-->
                <div class="news-block-two col-lg-6 col-md-12 col-sm-12">
                	<div class="inner-box wow fadeInLeft" data-wow-delay="0ms">
                    	<div class="image-box">
                        	<figure class="image"><a href="blog-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/blog-image-1.jpg" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <div class="post-meta">
                            	<ul class="clearfix">
                                	<li><a href="#"><span class="icon fa fa-user"></span> Admin</a></li>
                                    <li><a href="#"><span class="icon fa fa-comments"></span> 29 Comments</a></li>
                                    <li><a href="#"><span class="icon fa fa-share-alt"></span></a></li>
                                </ul>
                            </div>
                            <h3><a href="blog-single.html">GIORNATA MONDIALE DEL DIABETE 2021</a></h3>
                            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore.</div>
                            <div class="link-box"><a href="{{ base_url }}/eventi/anno-2021-in-corso/giornata-mondiale-del-diabete-2021" class="theme-btn btn-style-one"><span class="btn-title">Read More</span></a></div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block-three col-lg-6 col-md-12 col-sm-12">
                	<div class="inner-box wow fadeInRight" data-wow-delay="0ms">
                    	<!--News Post-->
						<div class="news-post">
                        	<div class="post-thumb"><a href="blog-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/post-thumb-3.jpg" alt=""></a></div>
                        	<div class="date"><span class="fa fa-calendar-alt"></span> anno 2021 in corsoOttobre 2, 2021</div>
                        	<h4><a href="{{ base_url }}/eventi/anno-2021-in-corso/redrun-corsa-camminata-non-competitiva-domenica-10-ottobre-2021-a-palazzolo">REDRUN, corsa, camminata non competitiva-Domenica 10 ottobre 2021 a Palazzolo</a></h4>
                        </div>
                        <!--News Post-->
						<div class="news-post">
                        	<div class="post-thumb"><a href="blog-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/post-thumb-4.jpg" alt=""></a></div>
                        	<div class="date"><span class="fa fa-calendar-alt"></span> anno 2021 in corsoOttobre 2, 2021</div>
                        	<h4><a href="{{ base_url }}/eventi/anno-2021-in-corso/le-associazioni-si-raccontano-un-aiuto-per-la-solidarieta">Le associazioni si raccontano, un aiuto per la solidarietà-Domanica 3 ottobre a Montichiari</a></h4>
                        </div>
                        <!--News Post-->
						<div class="news-post">
                        	<div class="post-thumb"><a href="blog-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/post-thumb-5.jpg" alt=""></a></div>
                        	<div class="date"><span class="fa fa-calendar-alt"></span> Eventi dell'Associazione, Noi e lo sportOttobre 2, 2021</div>
                        	<h4><a href="{{ base_url }}/eventi/anno-2021-in-corso/assemblea-annuale-2021">Eventi della primavera 2021</a></h4>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>