 <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Side / Blog Sidebar-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <!--Event Details-->
                    <div class="event-details">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/event-image-11.jpg" alt=""></figure>
                                <div class="date">25 <span class="month">Aug</span></div>
                            </div>
                            <div class="lower-content">
                            	<h2>Tesseramento 2021</h2>
                                <ul class="info clearfix">
                                    <li><span class="icon far fa-clock"></span> 9.00 AM - 11.00 PM</li>
                                    <li><span class="icon fa fa-map-marker-alt"></span> 29 Newyork City</li>
                                </ul>
                                <div class="text-content">
                                    <p class="big-text">Lorem ipsum dolor sit amet quo odio atqui tamquam eu duo ex amet elitr essent feugiat vim et soluta reprimique instructior mel munere tamquam referen.</p>
                                	<p>Lorem ipsum dolor sit amet electram comprehensam sit. Quo a splendide signiferumque an vix sent entiae insctior laudem corrumpit disputationi sed ei. Eum malis mucius ancillae in, verear nusquam appetere vis scaevol atomorum in sed. eum denique vulputate ne, in eos alienum corrumpit ullamcor fabulas instructior agam quod ubique euismod consul noster.</p>
                                    <p>Disputationi eos no nec latine repuare. Pro dolor volutpat quo disu omnis appellantur.Per ea convenire voluptatum consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. enim ad minim veniam.</p>
                                    <br>
                                    <h3>Event Mission</h3>
                                    <p>Accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo inventore veritatis quasi architecto beatae vitae dicta sunt explicabo. nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur.</p>
                                    <ul>
                                    	<li>Lorem Ipsum is simply printing and typesetting industry.</li>
                                        <li>When unknow printer took gallery something.</li>
                                        <li>Lorem Ipsum is simply printing and typesetting industry.</li>
                                    </ul>
                                    <br>
                                    <h3>Event Location</h3>
                                    <p>Accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo inventore veritatis quasi architecto beatae vitae dicta sunt explicabo. nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur.</p>
                                </div>
                                <div class="map-box">
                                	<div class="map-canvas"
                                        data-zoom="12"
                                        data-lat="-37.817085"
                                        data-lng="144.955631"
                                        data-type="roadmap"
                                        data-hue="#ffc400"
                                        data-title="Envato"
                                        data-icon-path="images/icons/map-marker.png"
                                        data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar">
                        
                        {# <!-- Search -->
                        <div class="sidebar-widget search-box">
                        	<h3 class="sidebar-title">Search</h3>
                            <form method="post" action="http://html.commonsupport.xyz/2019/loveus/contact.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search..." required>
                                    <button type="submit"><span class="icon flaticon-search-1"></span></button>
                                </div>
                            </form>
                        </div> #}

                        <!-- Category Widget -->
                        <div class="sidebar-widget categories">
                            <h3 class="sidebar-title">Categories</h3>
                            {# <div class="text">Lorem ipsum dolor sit amet consectur pisicelit sed do.</div> #}
                            <div class="widget-content">
                                <ul>
                                    <li class="current"><a href="{{ base_url }}/eventi/anno-2010-in-archivio">anno 2010 in archivio</a></li>
                                    <li><a href="{{ base_url }}/eventi/anno-2011-in-archivio">anno 2011 in archivio</a></li>
                                    <li><a href="{{ base_url }}/eventi/anno-2012-in-archivio">anno 2012 in archivio</a></li>
                                    <li><a href="{{ base_url }}/eventi/anno-2013-in-archivio">anno 2013 in archivio</a></li>
                                    <li><a href="{{ base_url }}/eventi/anno-2014-in-archivio">anno 2014 in archivio</a></li>
                                    <li><a href="{{ base_url }}/eventi/anno-2015-archivio">anno 2015 in archivio</a></li>
                                    <li><a href="{{ base_url }}/eventi/anno-2016-in-archivio">anno 2016 in archivio</a></li>
                                    <li><a href="{{ base_url }}/eventi/anno-2017-in-archivio">anno 2017 in archivio</a></li>
                                    <li><a href="{{ base_url }}/eventi/anno-2018-in-archivio">anno 2018 in archivio</a></li>
                                    <li><a href="{{ base_url }}/eventi/anno-2019-in-archivio">anno 2019 in archivio</a></li>
                                    <li><a href="{{ base_url }}/eventi/anno-2020-in-corso">anno 2020 in archivio</a></li>
                                    <li><a href="{{ base_url }}/eventi/anno-2021-in-corso">anno 2021 in corso</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <!-- Post Widget -->
                        <div class="sidebar-widget popular-posts">
                            <h3 class="sidebar-title">Latest News</h3>
                            <div class="widget-content">
                                
                                <!--News Post-->
                                <div class="news-post">
                                    <div class="post-thumb"><a href="blog-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/post-thumb-6.jpg" alt=""></a></div>
                                    <div class="date"><span class="fa fa-calendar-alt"></span> Novembre 1, 2021</div>
                                    <h4><a href="{{ base_url }}/eventi/anno-2021-in-corso/giornata-mondiale-del-diabete-2021">GIORNATA MONDIALE DEL DIABETE 2021</a></h4>
                                </div>
                                <!--News Post-->
                                <div class="news-post">
                                    <div class="post-thumb"><a href="blog-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/post-thumb-7.jpg" alt=""></a></div>
                                    <div class="date"><span class="fa fa-calendar-alt"></span> Ottobre 2, 2021</div>
                                    <h4><a href="{{ base_url }}/eventi/anno-2021-in-corso/redrun-corsa-camminata-non-competitiva-domenica-10-ottobre-2021-a-palazzolo">REDRUN, corsa, camminata non competitiva-Domenica 10 ottobre 2021 a Palazzolo</a></h4>
                                </div>
                                <!--News Post-->
                                <div class="news-post">
                                    <div class="post-thumb"><a href="blog-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/post-thumb-8.jpg" alt=""></a></div>
                                    <div class="date"><span class="fa fa-calendar-alt"></span> Ottobre 2, 2021</div>
                                    <h4><a href="{{ base_url }}/eventi/anno-2021-in-corso/le-associazioni-si-raccontano-un-aiuto-per-la-solidarieta">Le associazioni si raccontano, un aiuto per la solidarietà-Domanica 3 ottobre a Montichiari</a></h4>
                                </div>
                                 <!--News Post-->
                                <div class="news-post">
                                    <div class="post-thumb"><a href="blog-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/post-thumb-8.jpg" alt=""></a></div>
                                    <div class="date"><span class="fa fa-calendar-alt"></span> Ottobre 2, 2021</div>
                                    <h4><a href="{{ base_url }}/eventi/anno-2021-in-corso/assemblea-annuale-2021">Eventi della primavera 2021</a></h4>
                                </div>
                                 <!--News Post-->
                                <div class="news-post">
                                    <div class="post-thumb"><a href="blog-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/post-thumb-8.jpg" alt=""></a></div>
                                    <div class="date"><span class="fa fa-calendar-alt"></span> Ottobre 2, 2021</div>
                                    <h4><a href="blog-single.html">I legumi e le loro caratteristiche nutrizionali</a></h4>
                                </div>
                                 <!--News Post-->
                                <div class="news-post">
                                    <div class="post-thumb"><a href="blog-single.html"><img class="lazy-image" src="images/resource/image-spacer-for-validation.png" data-src="images/resource/post-thumb-8.jpg" alt=""></a></div>
                                    <div class="date"><span class="fa fa-calendar-alt"></span> Ottobre 2, 2021</div>
                                    <h4><a href="#">Intervista alla dietista Erika Piccini</a></h4>
                                </div>
                        
                            </div>
                        </div>

                        <!-- Tags Widget -->
                        <div class="sidebar-widget popular-tags">
                            <h3 class="sidebar-title">Recent comments</h3>
                            <div class="widget-content">
                            	<ul class="clearfix">
                                    <li><a href="{{ base_url }}/eventi/anno-2010-in-archivio">anno 2010 in archivio</a></li>
                                    <li><a href="{{ base_url }}/eventi/anno-2011-in-archivio">anno 2011 in archivio</a></li>
                                    <li><a href="{{ base_url }}/eventi/anno-2012-in-archivio">anno 2012 in archivio</a></li>
                                    <li><a href="{{ base_url }}/eventi/anno-2013-in-archivio">anno 2013 in archivio</a></li>
                                </ul>
                            </div>
                        </div> 
                                            
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sidebar Page Container -->